<div class="chat-element">
    <div class="messages-box">
        <!-- <li *ngFor="let msg of messages" class="message">
            <div class="message-header">
                <p class="message-username">{{msg.sender}}</p>
            </div>
            <div class="message-body">
                <p>{{msg.content}}</p>
            </div>
            
            
        </li> -->
        <ng-container *ngFor="let msg of messages; let i = index; let isLast = last">
            <!-- LAST/OLDEST ELEMENT -->
            <li 
                *ngIf="isLast" 
                class="message oldest-message">
                <div class="message-header">
                    <p class="message-username">{{msg.sender}}</p>
                </div>
                <div class="message-body">
                    <p>{{msg.content}}</p>
                </div>
            </li>
            <!-- OTHER ELEMENTS - if name hidden add class -->
            <li 
                *ngIf="!isLast" 
                class="message" 
                [ngClass]="{
                    'hidden-username': messages[i+1].sender === msg.sender,
                    'self-message': msg.sender === user.username
                }">
                <div *ngIf="messages[i+1].sender !== msg.sender" class="message-header">
                    <p class="message-username">{{msg.sender}}</p>
                </div>
                <div class="message-body">
                    <p>{{msg.content}}</p>
                </div>
            </li>

        </ng-container>
    </div>
    <div class="input-box">
        <input [(ngModel)]="message" placeholder="Say something..." />
        <i (click)="send_Message()" class="bi bi-send-fill"></i>
    </div>
</div>
