a{
    text-decoration: none;

}

.top-warning-link{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    background-color: #116149;
    text-align: center;
    color: white;
    font-family: 'Sometype Mono', monospace;
    font-size: 14px;
}