a{
    text-decoration: none;

}

.top-warning-link{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    background-color: #116149;
    text-align: center;
    color: white;
    font-family: 'Sometype Mono', monospace;
    font-size: 14px;
}

.top-warning-link span{
    font-weight: 500;
}

// Big screen
.top-warning-link::before {
    content: "Check out other projects in ";
}
.top-warning-link::after{
    content: " GitHub. Go take a look!";
}

@media screen and (max-width: 700px) {
    // Small screen
    .top-warning-link::before {
        content: "Other projects in ";
    }

    .top-warning-link::after {
        content: " GitHub.";
    }
}