<div class="sign-in-page">
    <div class="sign-in-component">
        <h1 class="title">Login into your account.</h1>
        <p class="sub-title">Don't have an account? <span><a routerLink="/signup">Register</a></span></p>
        <div class="sign-inputs-section">
            <app-text-input 
                (inputValueChange)="getUsernameValue($event)" 
                (inputDisabledChange)="changeUsername()"
                [inputType]="'text'" 
                [status]="usernameStatus" 
                [label]="'Username'"
                [inputDisabled]="isUsernameSubmitted"
            ></app-text-input>
            <span *ngIf="isUsernameSubmitted">
                <app-text-input 
                    (inputValueChange)="getPasswordValue($event)"
                    [inputType]="'password'" 
                    [status]="'default'" 
                    [label]="'Password'"
                ></app-text-input>
            </span>
        </div>
        <button *ngIf="!isUsernameSubmitted" [disabled]="!isUsernameValid" (click)="subtmitUsername()">Next</button>
        <button *ngIf="isUsernameSubmitted" [disabled]="!isPassowrdValid" (click)="signIn()">Sign in</button>
    </div>
</div>
