<nav>
    <div class="nav-width-constraint">
        <div *ngIf="!isMobileMenuOpen" class="mobile-menu-open-btn" (click)="openMobileMenu()">
            <app-mobile-menu-open-btn></app-mobile-menu-open-btn>
        </div>
        <div class="left-links">
            <!-- Logo writen in css -->
            <a class="nav-logo" routerLink="/home"></a>
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
            <a class="nav-link" routerLink="/chat" routerLinkActive="active-link">Chat</a>
            <a class="nav-link" routerLink="/project" routerLinkActive="active-link">Project</a>
        </div>
        <div *ngIf="!isUserSignedIn && !isMobileMenuOpen" class="right-links-signed-out">
            <a *ngIf="isSignUpVisible" class="nav-sign-btn nav-sign-up" [ngClass]="signUpBtnMobileView" routerLink="/signup" routerLinkActive="active-sign-up-btn">Register</a>
            <a *ngIf="isSignInVisible" class="nav-sign-btn nav-sign-in" routerLink="/signin" routerLinkActive="active-sign-in-btn">Sign in</a>
        </div>
        <div *ngIf="isUserSignedIn && !isMobileMenuOpen" class="right-links-signed-in">
            <h5 class="nav-username">tomasndlate</h5>
            <button (click)="openProfileMenu()" class="nav-user-btn"></button>
        </div>
        <div *ngIf="isMobileMenuOpen" class="mobile-menu-close-btn" (click)="closeMobileMenu()">
            <app-mobile-menu-close-btn></app-mobile-menu-close-btn>
        </div>
    </div>
</nav>
