.chat-page{
    position: relative;
    width: 100%;
    height: fit-content;
    // min-height: 500px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    align-items: start;
    // background-color: rgba(108, 74, 79, 0.569);
}

.element-section{
    position: relative;
    width: 100%;
    height: fit-content;
    
}

.profile-element{
    background-color: #27ae60;
}

.chat-element{
    // height: 100%;
    height: calc(100dvh - 70px - 40px - 30px);
    min-height: 500px;
    // background-color: #27ae60;
}

.right-elements{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.members-element{
    background-color: #27ae60;
}

.senders-position-element{
    background-color: #27ae60;
}































// -------------------------------------------
// -------------------------------------------
// -------------------------------------------
// -------------------------------------------

.header-content{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.header-subtitle{
    position: relative;
    border-left: 3px solid #27ae60;
    padding-left: 10px;
}

.header-title {
    margin-bottom: 10px;
}

.header-button{
    position: relative;
    padding: 5px 10px;
    background: none;
    border: 2px solid #27ae60;
    color: #27ae60;
    border-radius: 100px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.header-button:hover {
    background-color: #27ae60;
    color: white;
}

.chat-content{
    position: relative;
    width: 100%;
    min-height: 400px;
    height: 60vh;
    width: 100%;
    // background-color: rgba(222, 19, 19, 0.894);
    display: grid;
    grid-template-rows: 1fr 70px;
    gap: 10px;
    padding-bottom: 10px;
}
.messages-box,
.input-box{
    background-color: rgba(101, 101, 101, 0.6);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(111, 111, 111, 0.5);
    border-radius: 10px;
}

.messages-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 70px;
    padding: 10px;
}

.input-grid {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: rgba(100, 68, 68, 0.328);
    display: grid;
    grid-template-columns: 50px 200px 1fr 100px;
    // grid-template-rows: 70px;
    grid-gap: 10px;
    // padding: 10px;
}

.input-grid div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // background-color: rgba(205, 97, 50, 0.481);
    box-sizing: border-box;
}

.photo-input{
    background-color: rgb(186, 51, 51);
}

.message-input input, 
.username-input input{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 104, 104, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(207, 207, 207, 0.405);
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.message-input input::placeholder,
.username-input input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.message-input input:focus,
.username-input input:focus {
    outline: none;
}

.send-button button{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #27ae5f82;
    backdrop-filter: blur(10px);
    border: 1px solid #27ae60;
    border-radius: 10px;
    padding: auto;
    color: white;
    cursor: pointer;
}

.send-button button:hover {
    background-color: #27ae5fe0;
}