<div class="chat-component">
  <!-- Open Live Chat Title -->
  <section class="header-content">
    <p class="header-subtitle">Welcome to the</p>
    <h1 class="header-title">Open Live Chat</h1>
    <button class="header-button">Github Repository</button>
  </section>

  <!-- chat box -->
  <section class="chat-content">
    <!-- messages box -->
    <div class="messages-box" #chatContainer>
        <li *ngFor="let msg of messages">
          {{msg.content}}
        </li>
    </div>
    <!-- input box -->
    <div class="input-box">
      <div class="input-grid">
        <div class="photo-input"></div>
        <div class="username-input">
          <input [(ngModel)]="username" placeholder="Type username" />
        </div>
        <div class="message-input">
          <input [(ngModel)]="message" placeholder="Type something"/>
        </div>
        <div class="send-button">
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </section>
</div>

